@import '../../styles/utils';

.navbar-item {
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2.4px;
  color: $colorPrimary;

  &:hover {
    color: $colorHover;
  }

  &--active {
    border-top: 1px solid $colorPrimary;
    border-bottom: 1px solid $colorPrimary;
  }

  &--footer {
    text-transform: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;

    color: $colorLight;

    &:hover {
      color: $colorHover;
    }
  }
}
