html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

hr {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
a {
  cursor: pointer;
}
