@import './mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }

  &--mobile-off {
    display: block;

    @include onTabletAndDesktop {
      display: grid;
    }
  }

  &--mobile-tablet-off {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }

  &--mobile-gap {
    gap: 32px;
  }

  &__item {
    @for $start from 1 through 4 {
      @for $end from $start through 4 {
        &--mobile-#{$start}-#{$end} {
          @include onPhone {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--tablet-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
