$colorPrimary: #333333;
$colorSecondary: #bdbdbd;

$colorLight: #ffffff;
$colorDark: #000000;

$colorGray: #fbfbfb;

$colorHover: #999999;
$colorArrowBorder: #f2f2f2;
$colorFormFields: #f3f3f3;

$breakpointTablet: 640px;
$breakpointDesktop: 1170px;
