@import './styles/utils';

.App {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding: 24px 0 56px;

  // @include onTablet {
  //   padding: 24px 0 64px;
  // }

  // @include onDesktop {
  //   padding: 30px 0 24px;
  // }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 48px 0 120px;

  // @include onTablet {
  //   padding: 0 24px;
  // }

  // @include onDesktop {
  //   padding: 0 32px;
  // }
}
