@import './styles/utils';

#root {
  width: 100vw;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  &__main {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    flex-grow: 1;
    padding: 24px 0 0 0;
  }

  &__content-container {
    max-width: $breakpointDesktop;
    margin: 0 auto;
    padding: 48px 0 0 0;

    flex: 1;
  }
}
