@import './styles/utils';

#root {
  width: 100vw;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: column;

  &__main {
    flex-grow: 1;
    padding: 24px 0 0 0;
  }

  &__content-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 48px 0 0 0;
  }
}
